<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      EXE3 - Atividade 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<style>
  p { margin-left:5px; }
</style>

<ion-content>
  
    <ion-row>
      <ion-col>
        <p style="margin-top:20px;padding:0 10px;">
          Cálculo do salário.
        </p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item lines="full">
          <ion-label position="floating">Horas trabalhadas no mês:</ion-label>
          <ion-input type="text" required [(ngModel)]="horas_trabalhadas" name="horas_trabalhadas"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item lines="full">
          <ion-label position="floating">Valor da hora:</ion-label>
          <ion-input type="text" required [(ngModel)]="valor_hora" name="valor_hora"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Percentual de desconto %</ion-label>
          <ion-select placeholder="Selecione" [(ngModel)]="desconto" name="desconto">
            <ion-select-option value="{{ desconto }}" *ngFor="let desconto of descontos">{{ desconto }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" (click) = "doCalculo()">Calcular</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <p>Salário bruto: R$ {{ salario_bruto }} </p>
        <p>Total do desconto:  R$ {{ total_desconto }}</p>
        <p style="padding-top:10px;">Salário líquido:  R$ {{ salario_liquido }}</p>
      </ion-col>
    </ion-row>
</ion-content>